li { 

    padding: 10px; 

    margin-bottom: 10px; 

    background-color: #f2f2f2; 

    border-radius: 5px; 

    display: flex; 

    justify-content: space-between; 

    align-items: center; 

} 

 
 

li span { 

    margin-right: 10px; 

} 

 
 

li button { 

    background-color: #f44336; 

    color: #fff; 

    border: none; 

    border-radius: 5px; 

    cursor: pointer; 

} 